.metadata/*
db/*
incremental_db/*
output_files/*
*.bak
*~
software/.metadata/*
NES_FSM/*

.sopc_builder/*
simulation/*
snake_system.bsf
snake_system.html
snake_system.ptf
snake_system.ptf.8.0
snake_system.ptf.pre_generation_ptf
snake_system.qip
snake_system_log.txt
snakeplus.jdi
software/snake_software/obj/defualt/*
*.elf
software/snake_software/snake_software.map
software/snake_software/snake_software.objdump
software/snake_software_bsp/libhal_bsp.a
software/snake_software_bsp/HAL/*
